/*Quitamos parametros por defecto de los navegadores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Aqui voy a editar las fuentes*/
@font-face {
    font-family: "litespeed";
    src: url("../fuentes/litespeed/Litespeed-Bold.ttf");
}
@font-face {
    font-family: "mefidows";
    src: url("../fuentes/mefidows/Mefidows DEMO VERSION.ttf");
}
/*Aqui editamos el hedar*/
header{
    font-family: "litespeed";
    position: relative;
    height: 700px;
    overflow: hidden;
}
/*Aqui editamos el video para que ocupe todo el tamaño del header y para que quede el video adaptable le asignamos el parametro object-fit*/
header video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titulo{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 80px;
    color: aquamarine;
}
/*Colocamos la frase en el centro del video*/
.frase{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
    color: #FFFFFF;
}
/*Para el parrafo de inicio de sesion*/
.iniciar-sesion{
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: white;
}
/*Editamos el main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    font-size: 70px;
    font-family: "mefidows";
}
main article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 50%;
    color: #E10600;
    font-size: 70px;
}
.zap{
    align-self: flex-start;
}
/*Seleccionamos el segundo trozo para alinear*/
.store{
    align-self: flex-end;
}
/*Contenedor div de los logos*/
.logos{
    display: flex;
    justify-content: center;
    align-items: center;;
}
/*Editamos el tamaño de las fotos*/
.logos img{
    width: 150px;
    height: 150px;
}